.THIS .slds-picklist__label .slds-icon {
    width: .75rem;
    height: .75rem;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -.375rem;
    fill: rgb(107, 109, 112);
}

.THIS iconCustom
{
    fill:rgb(107, 109, 112);
}