.srcdRdm{
    background-color: rgb(25, 85, 148);
}

.srcdBbg{
    background-color: rgb(4, 132, 75);
}

.srcdManual{
    background-color: rgb(206, 110, 1);
}

.notAdded{
    background-color: rgb(194, 57, 52);
}